<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <sourceWebsite>*</sourceWebsite>
    <projectName>Elite DBAPI</projectName>
    <companyNum>101</companyNum>
    <whitelistedIPs>*</whitelistedIPs>
    <blacklistedIPs></blacklistedIPs>
    <enableLogging>0</enableLogging>
    <apiUserName></apiUserName>
    <apiPassword></apiPassword>
    <targetDBConnectionString>GrfZ5a946KcrALKS6s3PTE2ip0p6DAqY1j/kQuRBhDNqxa8qHzyXoE8/OF8yc3B6OLyybZ9R03s1nmimGIz/YQ==</targetDBConnectionString>
    <dbType>2</dbType>
    <driverType>0</driverType>
    <procName>REQUEST_HANDLER.ACTIONS</procName>
    <logType>0</logType>
    <logPath>~/Log</logPath>
  </appSettings>
  <appSettings>
    <sourceWebsite>SELF</sourceWebsite>
    <projectName>WebAPI Itself</projectName>
    <companyNum>999</companyNum>
    <whitelistedIPs>*</whitelistedIPs>
    <blacklistedIPs></blacklistedIPs>
    <enableLogging>1</enableLogging>
    <apiUserName></apiUserName>
    <apiPassword></apiPassword>
    <targetDBConnectionString></targetDBConnectionString>
    <dbType></dbType>
    <driverType></driverType>
    <procName></procName>
    <logType>1</logType>
    <logPath>~/Log</logPath>
  </appSettings>
</configuration>
  